<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} – {{ page.title }}{% endif %}</title>

	{% include meta.html %}

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
	<script>
		MathJax = {
			loader: {load: ['[tex]/mathtools']},
			tex: {
				packages: {'[+]': ['mathtools']},
				inlineMath: {'[+]': [['$', '$']]},
				macros: {
					R: "\\mathbb{R}",
					Q: "\\mathbb{Q}",
					Z: "\\mathbb{Z}",
					N: "\\mathbb{N}",
					I: "\\mathcal{I}",
					B: "\\mathcal{B}",
					C: "\\mathcal{C}",
					F: "\\mathcal{F}",
					mspan: "\\mathop{\\mathrm{span}}",
					mrank: "\\rho",
					emptyset: "\\varnothing"
				}
			},
			svg: {
				fontCache: 'global'
			},
			options: {
				skipHtmlTags: {'[-]': ['code', 'pre']}
			}
		};
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
	<!--<script>hljs.highlightAll();</script>-->
	<!--<script type="text/javascript" src="{{ site.baseurl }}/goFEUrself.js"></script>-->
</head>

<body>
	<div class="wrapper-masthead">
		<div class="container">
			<header class="masthead clearfix">
				<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

				<div class="site-info">
					<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
					<p class="site-description">{{ site.description }}</p>
				</div>

				<nav>
					<!--<a href="{{ site.baseurl }}/">Home</a>-->
					<a href="{{ site.baseurl }}/about">About</a>
					<a href="{{ site.baseurl }}/academic">Academic</a>
					<a href="{{ site.baseurl }}/blog">Blog</a>
					<a href="{{ site.baseurl }}/software">Software</a>
					<!--<a href="{{ site.baseurl }}/influences">Influences</a>-->
				</nav>
			</header>
		</div>
	</div>

	<div id="main" role="main" class="container">
		{{ content }}
	</div>

	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer">
				<div style="float:left;">
					<a href="https://anchor.fm/algo2go"><img src="{{ site.baseurl }}/images/algo2go.png" height="100"/></a>
				</div>
				<div style="float:right;">
					<a href="https://www.againstmalaria.com"><img src="{{ site.baseurl }}/images/amf.png"/></a>
				</div>
				{% include svg-icons.html %}<br />
				<a href="https://cs.stackexchange.com/users/84993/ttnick?tab=profile">
					<img src="https://cs.stackexchange.com/users/flair/84993.png?theme=dark" width="208" height="58" alt="profile for ttnick at Computer Science Stack Exchange, Q&amp;A for students, researchers and practitioners of computer science" title="profile for ttnick at Computer Science Stack Exchange, Q&amp;A for students, researchers and practitioners of computer science">
				</a><br />
				<a style="font-size: 12px;" href="{{ site.baseurl }}/imprint">Imprint</a>
			</footer>
		</div>
	</div>

	{% include analytics.html %}
</body>
</html>
