<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} – {{ page.title }}{% endif %}</title>

	{% include meta.html %}

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		});
	</script>
	<script type="text/javascript" src="goFEUrself.js"></script>
</head>

<body>
	<div class="wrapper-masthead">
		<div class="container">
			<header class="masthead clearfix">
				<a class="site-avatar"><img src="../images/kb.png" /></a>

				<div class="site-info">
					<h1 class="site-name">Kraut Bowl</h1>
					<p class="site-description">German Fantasy Football League from Aachen, Siegen, Cologne, Krefeld</p>
				</div>
			</header>
		</div>
	</div>

	<div id="main" role="main" class="container">
		{{ content }}
	</div>

	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer">
				<a style="font-size: 12px;" href="{{ site.baseurl }}/imprint">Imprint</a>
			</footer>
		</div>
	</div>

	{% include analytics.html %}
</body>
</html>
